h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 24px;
  padding-bottom: 24px;
}

.container {
  max-width: 1440px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 24px;
  column-gap: 24px;
  justify-content: center;
}

.gallery-item {
  max-width: 360px;
}

.gallery-image {
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.gallery-image:hover {
  transform: scale(1.05);
}
